@media (prefers-color-scheme: dark) {
    body{
        background-color: rgba(0, 0, 0, 0.777);
    }
    .main-head,.content,.main-nav,.side,.ad,.main-footer {
        color:white;
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: white;
    }
    .main-head,.content,.main-nav,.side,.ad,.main-footer {
        color:black;
    }
}
   
.dark {
    background-color: rgba(0, 0, 0, 0.777);
    .main-head,.content,.main-nav,.side,.ad,.main-footer {
        color:white;
    }
}

.light {
    background-color: white;
    .main-head,.content,.main-nav,.side,.ad,.main-footer {
        color:black;
    }
}