
    @media (prefers-color-scheme: dark) {
        .main{
            background-color: rgba(0, 0, 0, 0.777);
        }
        .main-head,.content,.main-nav,.side,.ad,.main-footer {
            color:white;
          }
          
          
    }


    @media (prefers-color-scheme: light) {
        .main{
            background-color: white;
        }
        .main-head,.content,.main-nav,.side,.ad,.main-footer {
            color:black;
          }
          
          
    }

    .dark {
        .main{
            background-color: rgba(0, 0, 0, 0.777);
        }
        .main-head,.content,.main-nav,.side,.ad,.main-footer {
            color:white;
          }
    }

    .light {
        .main{
            background-color: white;
        }
        .main-head,.content,.main-nav,.side,.ad,.main-footer {
            color:black;
          }
    }